projet/RoutingWithBikes/Connected Services/ProxyCache/ServiceProxyImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceProxyImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/MyProxy/ServiceProxyImpl/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/MyProxy/ServiceProxyImpl/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceProxy_GetSomething_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSomething" />
  </wsdl:message>
  <wsdl:message name="IServiceProxy_GetSomething_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSomethingResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProxy_getInfoOfStaition_InputMessage">
    <wsdl:part name="parameters" element="tns:getInfoOfStaition" />
  </wsdl:message>
  <wsdl:message name="IServiceProxy_getInfoOfStaition_OutputMessage">
    <wsdl:part name="parameters" element="tns:getInfoOfStaitionResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceProxy">
    <wsdl:operation name="GetSomething">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProxy/GetSomething" message="tns:IServiceProxy_GetSomething_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProxy/GetSomethingResponse" message="tns:IServiceProxy_GetSomething_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getInfoOfStaition">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProxy/getInfoOfStaition" message="tns:IServiceProxy_getInfoOfStaition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProxy/getInfoOfStaitionResponse" message="tns:IServiceProxy_getInfoOfStaition_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceProxy" type="tns:IServiceProxy">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSomething">
      <soap:operation soapAction="http://tempuri.org/IServiceProxy/GetSomething" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInfoOfStaition">
      <soap:operation soapAction="http://tempuri.org/IServiceProxy/getInfoOfStaition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceProxyImpl">
    <wsdl:port name="BasicHttpBinding_IServiceProxy" binding="tns:BasicHttpBinding_IServiceProxy">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/MyProxy/ServiceProxyImpl/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>