projet/BasicClient/Connected Services/RoutingWithBikes/RoutingWithBikesImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RoutingWithBikesImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/RoutingWithBikes/RESTBikeRoutingService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/RoutingWithBikes/RESTBikeRoutingService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/RoutingWithBikes/RESTBikeRoutingService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RoutingWithBikes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRoutingWithBikes_GetStations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStations" />
  </wsdl:message>
  <wsdl:message name="IRoutingWithBikes_GetStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsResponse" />
  </wsdl:message>
  <wsdl:message name="IRoutingWithBikes_GetInfoOnStation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoOnStation" />
  </wsdl:message>
  <wsdl:message name="IRoutingWithBikes_GetInfoOnStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoOnStationResponse" />
  </wsdl:message>
  <wsdl:message name="IRoutingWithBikes_computeRoute_InputMessage">
    <wsdl:part name="parameters" element="tns:computeRoute" />
  </wsdl:message>
  <wsdl:message name="IRoutingWithBikes_computeRoute_OutputMessage">
    <wsdl:part name="parameters" element="tns:computeRouteResponse" />
  </wsdl:message>
  <wsdl:portType name="IRoutingWithBikes">
    <wsdl:operation name="GetStations">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoutingWithBikes/GetStations" message="tns:IRoutingWithBikes_GetStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoutingWithBikes/GetStationsResponse" message="tns:IRoutingWithBikes_GetStations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInfoOnStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoutingWithBikes/GetInfoOnStation" message="tns:IRoutingWithBikes_GetInfoOnStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoutingWithBikes/GetInfoOnStationResponse" message="tns:IRoutingWithBikes_GetInfoOnStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="computeRoute">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoutingWithBikes/computeRoute" message="tns:IRoutingWithBikes_computeRoute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoutingWithBikes/computeRouteResponse" message="tns:IRoutingWithBikes_computeRoute_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPBikeRoutingService" type="tns:IRoutingWithBikes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStations">
      <soap:operation soapAction="http://tempuri.org/IRoutingWithBikes/GetStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfoOnStation">
      <soap:operation soapAction="http://tempuri.org/IRoutingWithBikes/GetInfoOnStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="computeRoute">
      <soap:operation soapAction="http://tempuri.org/IRoutingWithBikes/computeRoute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoutingWithBikesImpl">
    <wsdl:port name="SOAPBikeRoutingService" binding="tns:SOAPBikeRoutingService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/RoutingWithBikes/RESTBikeRoutingService/SOAPBikeRoutingService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>